.cart-item {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto auto auto;

  grid-template-areas:
    "img title"
    "img price"
    "img subtotal"
    "qtty remove";

  gap: 8px;
  align-items: center;
}



.item-img-link {
  grid-area: img;
  min-width: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.item-img {
  min-width: 100%;
}


.cart-item a {
  text-decoration: none;
  color: var(--color-text);
  display: flex;
  justify-content: start;
  font-weight: 500;
  line-height: 1.2;
  text-align: start;
  cursor: pointer;
}

.item-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.item-title {
  grid-area: title;
}

.item-qtty {
  grid-area: qtty;
  width: 100%;
  max-width: 150px;
  justify-self: center;
}

.item-qtty span {
  width: 60%;
  background: var(--color-surface);
  display: flex;
  justify-content: center;
  align-items: center;
}


.item-qtty button {
  width: 20%;
}

.item-price {
  grid-area: price;
  font-size: .9rem;
  opacity: .8;
  display: flex;
  justify-content: start;
}

.item-subtotal {
  grid-area: subtotal;
  font-weight: 600;
  display: flex;
  justify-content: start;
}

.item-remove {
  grid-area: remove;
  background: var(--bg-surface);
  color: var(--color-text);
  border: 1.5px solid var(--color-accent);
  border-radius: 16px;
  margin: 8px;
  height: 28px;
  width: 50%;
  max-width: 180px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  cursor: pointer;
  font-size: .85rem;
}