* {
  transition:
    background 0.35s ease,
    color 0.35s ease;
}

:root {
  color-scheme: light dark;

  /* colors */
  --color-primary: light-dark(#1e3a8a, #1d4ed8);
  --color-primary-light: light-dark(#2563eb, #2563eb);
  --color-accent: light-dark(#3b82f6, #60a5fa);

  --color-background: light-dark(#f5f7fb, #0b0f14);
  --color-surface: light-dark(#ffffff, #121821);

  --color-text: light-dark(#111827, #f9fafb);
  --color-text-muted: light-dark(#6b7280, #9ca3af);

  --color-border: light-dark(#e6e7eb, #2a3441);

  --color-success: light-dark(#10b981, #34d399);
  --color-danger: light-dark(#ef4444, #f87171);

  /*spacing*/
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 48px;
  --space-8: 64px;

  /*border radius*/
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-xl: 24px;

  /*shadows*/
  --shadow-sm: light-dark(
    0 1px 4px rgba(0, 0, 0, 0.05),
    0 1px 3px rgba(0, 0, 0, 0.35)
  );
  --shadow-md: light-dark(
    0 4px 12px rgba(0, 0, 0, 0.08),
    0 6px 18px rgba(0, 0, 0, 0.45)
  );
  --shadow-lg: light-dark(
    0 12px 32px rgba(0, 0, 0, 0.12),
    0 14px 36px rgba(255, 120, 0, 0.45)
  );

  /*fonts*/
  --font-base:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  --product-img-height: calc((100vw / 2) - 32px);

  @media (min-width: 480px) {
    --product-img-height: calc((100vw / 3) - 32px);
  }

  @media (min-width: 1080px) {
    --product-img-height: calc((100vw / 4) - 32px);
  }
}
