.reviews {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
}

.reviews .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews .reviews-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reviews .review-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.reviews .review-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

.reviews .reviewer-info {
    display: flex;
    flex-direction: column;
}

.reviews .review-rating {
    display: flex;
    align-items: center;
    gap: 2px;
}