.details-skeleton-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.details-skeleton-wrapper .checkout-skeleton {
    max-height: 120px;
    height: 120px;
}

.details-skeleton-wrapper .more-details-skeleton {
    max-height: 80px;
    height: 80px;
}

@media (min-width: 1080px) {
    .details-skeleton-wrapper {
        display: grid;
        grid-template-columns: 40% 30% 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
      "carousel-skeleton info-skeleton checkout-skeleton"
      "reviews-skeleton more-details-skeleton checkout-skeleton";
      gap: 16px;
      padding: 24px 16px;
      margin-top: 68px;
      align-self: center;
    }

    .details-skeleton-wrapper .carousel-skeleton {
        grid-area: carousel-skeleton;
        margin: 0;
    }

    .details-skeleton-wrapper .info-skeleton {
        grid-area: info-skeleton;
        margin: 0;
    }

    .details-skeleton-wrapper .checkout-skeleton {
        grid-area: checkout-skeleton;
        height: 500px;
        margin: 0;
    }

    .details-skeleton-wrapper .more-details-skeleton {
        grid-area: more-details-skeleton;
        margin: 0;
    }

    .details-skeleton-wrapper .reviews-skeleton {
        grid-area: reviews-skeleton;
        margin: 0;
    }
}