.search-result {
    transition: transform .3s ease;

    img {
        min-width: 100%;
        min-height: calc(var(--product-img-height));
        object-fit: contain;
    }

    &:hover {
        cursor: pointer;
        transform: scale(.95);
    }
}