.navbar {
  z-index: 100;
  background: var(--color-surface);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "options-menu logo logo search cart";
}

.options-nav {
  grid-area: options-menu;
}
.options-nav, .search-nav, .cart-nav {
  display: flex;
  place-items: center;
  place-content: center;
}

.logo-nav {
  border: 1px solid;
  grid-area: logo;
  background: url("@/assets/logos/brand-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.search-nav {
  grid-area: search;

}

.cart-nav {
  grid-area: cart;
}