.navbar {
  z-index: 100;
  background: var(--color-surface);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-areas: "options-menu logo search cart";
}



.options-nav {
  grid-area: options-menu;
}


.logo-nav {
  grid-area: logo;
}

.search-nav {
  grid-area: search;
}

.cart-nav {
  grid-area: cart;
}

.options-nav, .search-nav, .cart-nav {
  display: flex;
  place-items: center;
  place-content: center;
  background: var(--color-surface);
  cursor: pointer;
}